@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-theme: var(--theme-color);
  --color-theme-hover: color-mix(in srgb, var(--theme-color) 80%, black);
  --color-theme-light: color-mix(in srgb, var(--theme-color) 20%, white);
  --color-theme-dark: color-mix(in srgb, var(--theme-color) 20%, black);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
    font-family: 'Inter', sans-serif;
  }
}

.custom-color-picker .react-colorful {
  width: 100% !important;
  height: 160px !important;
  border-radius: 8px !important;
}

.custom-color-picker .react-colorful__saturation {
  border-bottom: none !important;
  border-radius: 8px 8px 0 0 !important;
}

.custom-color-picker .react-colorful__hue {
  height: 12px !important;
  border-radius: 0 0 8px 8px !important;
}

.custom-color-picker .react-colorful__pointer {
  width: 16px !important;
  height: 16px !important;
}

